<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Classes</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center" *ngFor="let studyClass of studyClassTableHeader">
                {{studyClass}}
              </th>
              <th class="text-center">
                Actions
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let stuyClass of studyClasses">
                <td class="text-center">
                  {{stuyClass.name}}
                </td>
                <td class="text-center">
                  {{stuyClass.code}}
                </td>
                <td class="text-center">
                  {{stuyClass.maximum_students}}
                </td>
                <td class="text-center">
                  {{stuyClass.status}}
                </td>
                <td class="text-center">
                  {{stuyClass.description}}
                </td>
                <td class="text-center" class="text-center">
                  <button class="btn btn-sm btn-primary btn-fab btn-icon btn-round ml-1">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button class="btn btn-sm btn-secondary btn-fab btn-icon btn-round ml-1">
                    <i class="fa fa-edit"></i> </button>
                  <button class="btn btn-sm btn-danger btn-fab btn-icon btn-round ml-1">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right">
          <button class="btn btn-sm btn-primary btn-fab ">
            add class
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>